body {
  margin: 50px;
  font-family: "Coming Soon", cursive;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}
button {
  color: #ffffff;
  padding: 5px 25px;
  font-size: 15px;
  text-transform: uppercase;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: #007bff;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.btn-space {
  margin-right: 10px;
  margin-bottom: 10px;
}
.dir {
  direction: rtl;
}
